<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../assets/js/jquery-3.7.1.min.js"></script>
    <script defer src="../assets/js/script.js"></script>
    <link rel="stylesheet" href="../assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Alexander Torres Vivaldo">
    <meta keywords="Say It With Sweets">
    <meta description="Alex's website for Say It With Sweets">
    <title>Alexander Torres Vivaldo's Say It With Sweets</title>
</head>
<body>
    <div id="bodyContainer">
    <header>
        <div class="logoTitle">
            <img id="home_logo" src="../static/additional/logo.png" alt="Say It With Sweets Logo">
            <h1 id="title_top">Say It With Sweets</h1>
        </div>

        <nav>
            <a id="indexTab" class="navA" href="../index.html"> Home </a>
            <a id="contactTab" class="navA" href="../views/contact.html"> Contact </a>
            <a id="cupcakeTab" class="navA" href="../views/cupcakes.html"> Cupcakes </a>
            <a id="cookieTab" class="navA" href="../views/cookies.html"> Cookies </a>
            <a id="cakeTab" class="navA" href="../views/cakes.html"> Cakes </a>
            <a id="aboutTab" class="navA" href="../views/about.html"> About </a>
            <a id="offerTab" class="navA" href="../views/coupons.html"> Offers </a>
        </nav>
        
    </header>
    <div class="main">
        <h2 id="pageTitle" class="center">About</h2>
        <div id="about_section">
            <div class="center" id="about_para">
            <p>
                Let us help make your next event special by creating a cake, 
                cupcakes or cookies to match your theme. We also offer our 
                famous gourmet cupcakes for any occasion or just because 
                you want some.. Be sure to browse our website for gifts 
                such as cookie bouquets, chocolate-covered treats or cookie trays, 
                certain to delight anyone. Please order early to make sure you don't 
                miss out on any of our "sweet" creations.
            </p>
            </div>

            <div id="about_logo">
            <img src="../static/additional/logo.png" alt="say it with sweets logo">
            </div>
            
            <div class="socials">
                <table>
                    <tr><th colspan="2" id="find_us">Socials</th></tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/insta_logo.jpeg" alt="instagram logo" onclick="OpenInNewTabWinBrowser('https://www.instagram.com/sayitwithsweets11?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==')" target="_blank"></td>
                        <td><a href="https://www.instagram.com/sayitwithsweets11?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">@sayitwithsweets11</a></td></tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/facebook_logo.jpeg" alt="facebook logo" onclick="OpenInNewTabWinBrowser('https://www.facebook.com/say.it.with.sweets/')"></td>
                        <td><a href="https://www.facebook.com/say.it.with.sweets/" target="_blank">@say It With Sweets</a></td>
                    </tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/yelp_logo.png" alt="yelp logo" onclick="OpenInNewTabWinBrowser('https://www.yelp.com/biz/say-it-with-sweets-altoona?utm_campaign=www_business_share_popup&utm_medium=copy_link&utm_source=(direct)')"></td>
                        <td><a href="https://www.yelp.com/biz/say-it-with-sweets-altoona?utm_campaign=www_business_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank">@say It With Sweets</a></td>
                    </tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/tripadvisor_logo.png" alt="tripadvisor logo" onclick="OpenInNewTabWinBrowser('https://www.tripadvisor.com/Restaurant_Review-g30034-d5017286-Reviews-Say_IT_With_Sweets-Altoona_Pennsylvania.html')"></td>
                        <td><a href="https://www.tripadvisor.com/Restaurant_Review-g30034-d5017286-Reviews-Say_IT_With_Sweets-Altoona_Pennsylvania.html" target="_blank">@say It With Sweets</a></td>
                    </tr>
                </table> 
            </div>
        </div>
        <hr>
        <div id="petEmbed">
            <h3 id="aboutPet">We also Love Pets</h3>
            <p> Learn more about our additional initiatives on our Facebook page</p>
            <iframe id="facebookEmbed" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcentralpahumanesociety%2Fposts%2Fpfbid0q6JodkR2rKDCrF9GhGvNSmxu5quJ1TuhXeJnX5haxj8s4dBZAq8FvnxqvMceBpP4l&show_text=true&width=500" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
    </div>
    </div>
</body>
<footer>
    <p id="foot">Say It With Sweets &copy; 2024 </p>
    <a id="emailFooter" href="mailto:info@sayitwithsweets.com" target="_blank">info@sayitwithsweets.com</a>
</footer>
</html>