<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../assets/js/jquery-3.7.1.min.js"></script>
    <script defer src="../assets/js/script.js"></script>
    <link rel="stylesheet" href="../assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Alexander Torres Vivaldo">
    <meta keywords="Say It With Sweets">
    <meta description="Alex's website for Say It With Sweets">
    <title>Alexander Torres Vivaldo's Say It With Sweets</title>
</head>
<body>
    <div id="bodyContainer">
    <header>
        <div class="logoTitle">
            <img id="home_logo" src="../static/additional/logo.png" alt="Say It With Sweets Logo">
            <h1 id="title_top">Say It With Sweets</h1>
        </div>

        <nav>
            <a id="indexTab" class="navA" href="../index.html"> Home </a>
            <a id="contactTab" class="navA" href="../views/contact.html"> Contact </a>
            <a id="cupcakeTab" class="navA" href="../views/cupcakes.html"> Cupcakes </a>
            <a id="cookieTab" class="navA" href="../views/cookies.html"> Cookies </a>
            <a id="cakeTab" class="navA" href="../views/cakes.html"> Cakes </a>
            <a id="aboutTab" class="navA" href="../views/about.html"> About </a>
            <a id="offerTab" class="navA" href="../views/coupons.html"> Offers </a>
        </nav>
        
    </header>
    <div class="main">
        
        <h2 id="pageTitle" class="center">Cakes</h2>
        <div id="description">
            <p id="paragraph_description">
                🍰 Welcome to Say It With Sweets - Where Every Slice Tells a Story! 🌟
                Step into a world of decadence and delight with our exquisite cakes, meticulously crafted to elevate every occasion to new heights of sweetness.
                <br>
                <br>
                Our cakes aren't just desserts; they're edible works of art! Meticulously handcrafted by our skilled pastry chefs, each cake is a symphony of texture, color, and flavor, designed to captivate both the eyes and the taste buds.
                <br>
                <br>
                *Pricing vary based on design and layers. Call for details
            </p>
            <div id="slides">
                <div class="mySlides">
                    <img class="slideImages" src="../static/cake files/other/dog1_cake.jpeg" alt="dog cake">
                </div>
                <div class="mySlides">
                    <img class="slideImages" src="../static/cake files/kid_cakes/alvin_cake.jpg" alt="alvin cake">
                </div>
                <div class="mySlides">
                    <img class="slideImages" src="../static/cake files/anniversary|wedding/wedding2_cake.jpeg" alt="wedding cake">
                </div>
                <p> Here are our cake best sellers!</p>
              </div>

              <div class="socials">
                <table>
                    <tr><th colspan="2" id="find_us">Socials</th></tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/insta_logo.jpeg" alt="instagram logo" onclick="OpenInNewTabWinBrowser('https://www.instagram.com/sayitwithsweets11?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==')" target="_blank"></td>
                        <td><a href="https://www.instagram.com/sayitwithsweets11?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">@sayitwithsweets11</a></td></tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/facebook_logo.jpeg" alt="facebook logo" onclick="OpenInNewTabWinBrowser('https://www.facebook.com/say.it.with.sweets/')"></td>
                        <td><a href="https://www.facebook.com/say.it.with.sweets/" target="_blank">@say It With Sweets</a></td>
                    </tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/yelp_logo.png" alt="yelp logo" onclick="OpenInNewTabWinBrowser('https://www.yelp.com/biz/say-it-with-sweets-altoona?utm_campaign=www_business_share_popup&utm_medium=copy_link&utm_source=(direct)')"></td>
                        <td><a href="https://www.yelp.com/biz/say-it-with-sweets-altoona?utm_campaign=www_business_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank">@say It With Sweets</a></td>
                    </tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/tripadvisor_logo.png" alt="tripadvisor logo" onclick="OpenInNewTabWinBrowser('https://www.tripadvisor.com/Restaurant_Review-g30034-d5017286-Reviews-Say_IT_With_Sweets-Altoona_Pennsylvania.html')"></td>
                        <td><a href="https://www.tripadvisor.com/Restaurant_Review-g30034-d5017286-Reviews-Say_IT_With_Sweets-Altoona_Pennsylvania.html" target="_blank">@say It With Sweets</a></td>
                    </tr>
                </table> 
            </div>
        </div>

        <div id="tab_section">
        <ul id="tabs">

            <li class="tab_nav"><a href="#aniversary">Anniversary|Wedding</a></li>
            <li class="tab_nav"><a href="#special">Special Occasions</a></li>
            <li class="tab_nav"><a href="#birthdays">Birthdays</a></li>
            <li class="tab_nav"><a href="#kids">Kids</a></li>
            <li class="tab_nav"><a href="#other">Other</a></li>
      
        </ul>

            <div class="container" id="aniversary">
                <div class="tabPics">
                    <h3 class="tabText">Anniversary Cake 1</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/anniversary|wedding/50_anniversary.jpg" alt="anniversary cake 1">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Anniversary Cake 2</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/anniversary|wedding/anniversary_cake.jpeg" alt="anniversary cake 2">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Cinderella Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/anniversary|wedding/cinderella_cake.jpeg" alt="cinderella cake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">White Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/anniversary|wedding/white_cake.jpeg" alt="white cake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Wedding Cake 1</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/anniversary|wedding/wedding_cake.jpeg" alt="wedding cake 1">
                </div>
            </div>

            <div class="container" id="special">
                <div class="tabPics">
                    <h3 class="tabText">Babyshower Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/celebratory/babyshower_cake.jpeg" alt="baby shower cake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Elephant Babyshower Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/celebratory/elephant_bs.jpg" alt="elephant baby shower cake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Graduation Cake 1</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/celebratory/graduation1_cake.jpeg" alt="graduation cake 1">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Rose Cross Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/celebratory/rose_cross.jpg" alt="rose cross cake">
                </div>
            </div>

            <div class="container" id="birthdays">
                <div class="tabPics">
                    <h3 class="tabText">Paradise Birthday Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/birthday/birthday2_cake.jpeg" alt="paradise birthday cake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Stallion Birthday Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/birthday/birthday4_horse_cake.jpeg" alt="stallion birthday cake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Minnie Birthday Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/birthday/birthday5_mickey.jpeg" alt="minnie birthday cake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Pink Flowers Birthday Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/birthday/flower_ladies_cake.jpeg" alt="pink flower birthday cake">
                </div>
            </div>

            <div class="container" id="kids">
                <div class="tabPics">
                    <h3 class="tabText">Alvin Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/kid_cakes/alvin_cake.jpg" alt="alvin cake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Cookie Monster Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/kid_cakes/cookieMonster_cake.jpeg" alt="cookie monster cake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Fortnite Fish Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/kid_cakes/fish_fortnite_cake.jpeg" alt="fish fortnite cake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Spongebob Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/kid_cakes/spongbob_cake.jpeg" alt="spongebob cake">
                </div>
            </div>
                
            <div class="container" id="other">
                <div class="tabPics">
                    <h3 class="tabText">Brain Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/other/brain_cake.jpeg" alt="brain cake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Zombie Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/other/zombie_cake.jpeg" alt="zombie cupcake">
                </div>

                <div class="tabPics">
                    <h3 class="tabText">Dog Cake 1</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/other/dog1_cake.jpeg" alt="dog cake 1">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Valentines Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cake files/other/valentines_cake.jpeg" alt="valentines cake">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <p id="foot">Say It With Sweets &copy; 2024 </p>
    <a id="emailFooter" href="mailto:info@sayitwithsweets.com" target="_blank">info@sayitwithsweets.com</a>
</footer>
</html>