<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../assets/js/jquery-3.7.1.min.js"></script>
    <script defer src="../assets/js/script.js"></script>
    <link rel="stylesheet" href="../assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Alexander Torres Vivaldo">
    <meta keywords="Say It With Sweets">
    <meta description="Alex's website for Say It With Sweets">
    <title>Alexander Torres Vivaldo's Say It With Sweets</title>
</head>
<body>
    <div id="bodyContainer">
    <header>
        <div class="logoTitle">
            <img id="home_logo" src="../static/additional/logo.png" alt="Say It With Sweets Logo">
            <h1 id="title_top">Say It With Sweets</h1>
        </div>

        <nav>
            <a id="indexTab" class="navA" href="../index.html"> Home </a>
            <a id="contactTab" class="navA" href="../views/contact.html"> Contact </a>
            <a id="cupcakeTab" class="navA" href="../views/cupcakes.html"> Cupcakes </a>
            <a id="cookieTab" class="navA" href="../views/cookies.html"> Cookies </a>
            <a id="cakeTab" class="navA" href="../views/cakes.html"> Cakes </a>
            <a id="aboutTab" class="navA" href="../views/about.html"> About </a>
            <a id="offerTab" class="navA" href="../views/coupons.html"> Offers </a>
        </nav>
        
    </header>
    <div class="main">
        <h2 id="pageTitle" class="center">Contact</h2>
        
        <div id="contact_section">
            <div id="contact_P">
            <p>
                Contact Info:
                <br><br>
                Address: 1307  Pleasant Valley Blvd. Altoona PA 16602 US
                <br><br>
                Phone Number(#): (814)-937-1564
                <br><br>
                Email: <a href="mailto:info@sayitwithsweets.com" target="_blank">info@sayitwithsweets.com</a>
                <br><br>
                Hours of Operation:
                <br><br>
                All items are order only
                <br>
                *No walk-in's
                <br><br>
                Please call 814-937-1564 to order and prepay with a credit card
                <br><br>
                Pick up hours M-F 10:00AM-3:00PM. Weekend by appointment
            </p>
            </div>

            <div id="google_map_API">
                <h3>Find Us</h3>
                <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3033.620375709781!2d-78.38948908905871!3d40.5057769713062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89cb9188567d3371%3A0x79740809b421e8ac!2s1307%20Pleasant%20Valley%20Blvd%2C%20Altoona%2C%20PA%2016602!5e0!3m2!1sen!2sus!4v1711906676891!5m2!1sen!2sus" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="socials">
                <table>
                    <tr><th colspan="2" id="find_us">Socials</th></tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/insta_logo.jpeg" alt="instagram logo" onclick="OpenInNewTabWinBrowser('https://www.instagram.com/sayitwithsweets11?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==')" target="_blank"></td>
                        <td><a href="https://www.instagram.com/sayitwithsweets11?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">@sayitwithsweets11</a></td></tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/facebook_logo.jpeg" alt="facebook logo" onclick="OpenInNewTabWinBrowser('https://www.facebook.com/say.it.with.sweets/')"></td>
                        <td><a href="https://www.facebook.com/say.it.with.sweets/" target="_blank">@say It With Sweets</a></td>
                    </tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/yelp_logo.png" alt="yelp logo" onclick="OpenInNewTabWinBrowser('https://www.yelp.com/biz/say-it-with-sweets-altoona?utm_campaign=www_business_share_popup&utm_medium=copy_link&utm_source=(direct)')"></td>
                        <td><a href="https://www.yelp.com/biz/say-it-with-sweets-altoona?utm_campaign=www_business_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank">@say It With Sweets</a></td>
                    </tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/tripadvisor_logo.png" alt="tripadvisor logo" onclick="OpenInNewTabWinBrowser('https://www.tripadvisor.com/Restaurant_Review-g30034-d5017286-Reviews-Say_IT_With_Sweets-Altoona_Pennsylvania.html')"></td>
                        <td><a href="https://www.tripadvisor.com/Restaurant_Review-g30034-d5017286-Reviews-Say_IT_With_Sweets-Altoona_Pennsylvania.html" target="_blank">@say It With Sweets</a></td>
                    </tr>
                </table> 
            </div>
        </div>
        <hr>
        <div id="mailing_section">
            <h2>Fill out this form to join the Mailing List!</h2>
            <form action="" autocomplete="on">
                <label for="Username"> Name(required)</label>
                <input class="inputBox" type="text" name="Username" id="Username" required/>
                <label for="Useremail"> Email(required)</label>
                <input class="inputBox" type="email" name="Useremail" id="Useremail" required/>
                <br>
                <br>
                <label for="Usernumber"> Phone #(optional)</label>
                <input class="inputBox" type="tel" name="Usernumber" id="Usernumber"/>
                <label for="Userzip"> Zip code(optional)</label>
                <input class="inputBox" type="text" id="Userzip" value="" maxlength="5" pattern="^([0-9]{5})$"/>
                <br>
                <br>
                <input class="inputCheckBox" type="checkbox" id="Usersms" name="Usersms"/>
                <label class="checkBoxText" for="Usersms">Check box if you would like to receive messages via SMS text</label>
                <br>
                <br>
                <input class="inputSubmit" type="submit" value="JOIN" onclick="validateMessage()"/>
            </form>
            <p id="validateMsg"></p>
        </div>

    </div>
    </div>
</body>
<footer>
    <p id="foot">Say It With Sweets &copy; 2024 </p>
    <a id="emailFooter" href="mailto:info@sayitwithsweets.com" target="_blank">info@sayitwithsweets.com</a>
</footer>
</html>