<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../assets/js/jquery-3.7.1.min.js"></script>
    <script defer src="../assets/js/script.js"></script>
    <link rel="stylesheet" href="../assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Alexander Torres Vivaldo">
    <meta keywords="Say It With Sweets">
    <meta description="Alex's website for Say It With Sweets">
    <title>Alexander Torres Vivaldo's Say It With Sweets</title>
</head>
<body>
    <div id="bodyContainer">
    <header>
        <div class="logoTitle">
            <img id="home_logo" src="../static/additional/logo.png" alt="Say It With Sweets Logo">
            <h1 id="title_top">Say It With Sweets</h1>
        </div>

        <nav>
            <a id="indexTab" class="navA" href="../index.html"> Home </a>
            <a id="contactTab" class="navA" href="../views/contact.html"> Contact </a>
            <a id="cupcakeTab" class="navA" href="../views/cupcakes.html"> Cupcakes </a>
            <a id="cookieTab" class="navA" href="../views/cookies.html"> Cookies </a>
            <a id="cakeTab" class="navA" href="../views/cakes.html"> Cakes </a>
            <a id="aboutTab" class="navA" href="../views/about.html"> About </a>
            <a id="offerTab" class="navA" href="../views/coupons.html"> Offers </a>
            </nav>
        
    </header>
    <div class="main">
        
        <h2 id="pageTitle" class="center">Cookies</h2>
        <div id="description">
            <p id="paragraph_description">
                🍪 Welcome to Say It With Sweets - Where Every Bite Tells a Story! 🌟 
                Indulge in a world of irresistible delights with our heavenly cookies, crafted with passion and perfected to tantalize your taste buds.
                <br>
                <br>
                Planning a celebration? Our cookies are the life of the party! Whether you're hosting a bridal shower, a corporate event, or a cozy gathering with friends, our cookies are sure to delight guests of all ages.
            </p>
            <div id="slides">
                <div class="mySlides">
                    <img class="slideImages" src="../static/cookie files/cookie_gift/cookie_animals.jpg" alt="animal cookies">
                </div>
                <div class="mySlides">
                    <img class="slideImages" src="../static/cookie files/cookie_cake/beaver_cookie_cake.jpg" alt="beaver cookie cake">
                </div>
                <div class="mySlides">
                    <img class="slideImages" src="../static/cookie files/cookie_cake/xbox_cookie_cake.jpg" alt="strawbeery cookie">
                </div>
                <p> Here are our cookie best sellers!</p>
              </div>

              <div class="socials">
                <table>
                    <tr><th colspan="2" id="find_us">Socials</th></tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/insta_logo.jpeg" alt="instagram logo" onclick="OpenInNewTabWinBrowser('https://www.instagram.com/sayitwithsweets11?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==')" target="_blank"></td>
                        <td><a href="https://www.instagram.com/sayitwithsweets11?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">@sayitwithsweets11</a></td></tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/facebook_logo.jpeg" alt="facebook logo" onclick="OpenInNewTabWinBrowser('https://www.facebook.com/say.it.with.sweets/')"></td>
                        <td><a href="https://www.facebook.com/say.it.with.sweets/" target="_blank">@say It With Sweets</a></td>
                    </tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/yelp_logo.png" alt="yelp logo" onclick="OpenInNewTabWinBrowser('https://www.yelp.com/biz/say-it-with-sweets-altoona?utm_campaign=www_business_share_popup&utm_medium=copy_link&utm_source=(direct)')"></td>
                        <td><a href="https://www.yelp.com/biz/say-it-with-sweets-altoona?utm_campaign=www_business_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank">@say It With Sweets</a></td>
                    </tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/tripadvisor_logo.png" alt="tripadvisor logo" onclick="OpenInNewTabWinBrowser('https://www.tripadvisor.com/Restaurant_Review-g30034-d5017286-Reviews-Say_IT_With_Sweets-Altoona_Pennsylvania.html')"></td>
                        <td><a href="https://www.tripadvisor.com/Restaurant_Review-g30034-d5017286-Reviews-Say_IT_With_Sweets-Altoona_Pennsylvania.html" target="_blank">@say It With Sweets</a></td>
                    </tr>
                </table> 
            </div>
        </div>

        <div id="tab_section">
        <ul id="tabs">

            <li class="tab_nav"><a href="#cookies">Cookies/Gifts</a></li>
            <li class="tab_nav"><a href="#cakes">Cakes</a></li>
            <li class="tab_nav"><a href="#trays">Trays</a></li>
            <li class="tab_nav"><a href="#holiday">Holiday</a></li>
        </ul>

            <div class="container" id="cookies">
                <p class="tab_description">
                    Please order custom made cookies as far in advance as possible to insure availability. 
                    Because of the decorating process, we need at least 7 working days notice for up to 6 dozen. 
                    Over 6 dozen please give us 2 weeks notice. Please call for pricing.
                </p>
                <div class="tabPics">
                    <h3 class="tabText">animal Cookies</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cookie files/cookie_gift/cookie_animals.jpg" alt="animal cookies">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Paw Cookies</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cookie files/cookie_gift/paw_cookie.jpg" alt="paw cookies">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Tie Cookies</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cookie files/cookie_gift/tie_cookie.jpg" alt="tie cookies">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Sport Cookies</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cookie files/cookie_gift/sports_cookies.jpeg" alt="sport cookies">
                </div>
            </div>

            <div class="container" id="cakes">
                <p class="tab_description">
                    Our 12x1 inch cakes are made fresh and are equivalent to 5 dozen cookies (Other themes available).
                    *Please order 5 days before pick up or delivery. Call for pricing
                </p>
                <div class="tabPics">
                    <h3 class="tabText">Xbox Cookie Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cookie files/cookie_cake/xbox_cookie_cake.jpg" alt="xbox cookie cake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Love Cookie Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cookie files/cookie_cake/love_cookie_cake.jpg" alt="love cookie cake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Beer Cookie Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cookie files/cookie_cake/beer_cookie_cake.jpg" alt="beer cookie cake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Beaver Cookie Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cookie files/cookie_cake/beaver_cookie_cake.jpg" alt="beaver cookie cake">
                </div>
            </div>

            <div class="container" id="trays">
                <p class="tab_description">
                    Our delicious cookie trays are perfect for parties, weddings, showers, or corporate events!
                    Just choose which size tray suits your occasion and give us a call.
                    *Please order at least 5 working days in advance.
                    <br>
                    *Holiday cookie trays may differ. Call for pricing
                    <br>
                    Small - five dozen - $54.00
                    <br>
                    Medium - ten dozen - $97.00
                    <br>
                    Large - twelve dozen - $112.00
                </p>
                <div class="tabPics">
                    <h3 class="tabText">Regular Cookie Tray</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cookie files/cookie_trays/regualar_cookie_tray.jpg" alt="regular cookie tray">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Christmas Cookie Tray</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cookie files/cookie_trays/christmas_cookie_tray.jpg" alt="christmas cookie tray">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Nurse Cookie tray</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cookie files/cookie_trays/nurse_cookie_tray.png" alt="nurse cookie tray">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Easter Cookie tray</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cookie files/cookie_trays/easter_tray.png" alt="easter cookie tray">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Halloween Cookie tray</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cookie files/cookie_trays/halloween_tray_cookie.jpeg" alt="halloween cookie tray">
                </div>
            </div>
                
            <div class="container" id="holiday">
                <div class="tabPics">
                    <h3 class="tabText">Christmas Cookies</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cookie files/cookie_holidays/christmas_cookie.jpg" alt="christmas cookies">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Christmas Tree Cookie Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cookie files/cookie_holidays/christmasTree_cookie_cake.jpeg" alt="christmas tree cookie">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Easter Cookies</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cookie files/cookie_holidays/easter_cookie.jpg" alt="easter cookies">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Halloween Cookies</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cookie files/cookie_holidays/halloween_cookie.jpg" alt="halloween cookies">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <p id="foot">Say It With Sweets &copy; 2024 </p>
    <a id="emailFooter" href="mailto:info@sayitwithsweets.com" target="_blank">info@sayitwithsweets.com</a>
</footer>
</html>