<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../assets/js/jquery-3.7.1.min.js"></script>
    <script defer src="../assets/js/script.js"></script>
    <link rel="stylesheet" href="../assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Alexander Torres Vivaldo">
    <meta keywords="Say It With Sweets">
    <meta description="Alex's website for Say It With Sweets">
    <title>Alexander Torres Vivaldo's Say It With Sweets</title>
</head>
<body>
    <div id="bodyContainer">
    <header>
        <div class="logoTitle">
            <img id="home_logo" src="../static/additional/logo.png" alt="Say It With Sweets Logo">
            <h1 id="title_top">Say It With Sweets</h1>
        </div>

        <nav>
            <a id="indexTab" class="navA" href="../index.html"> Home </a>
            <a id="contactTab" class="navA" href="../views/contact.html"> Contact </a>
            <a id="cupcakeTab" class="navA" href="../views/cupcakes.html"> Cupcakes </a>
            <a id="cookieTab" class="navA" href="../views/cookies.html"> Cookies </a>
            <a id="cakeTab" class="navA" href="../views/cakes.html"> Cakes </a>
            <a id="aboutTab" class="navA" href="../views/about.html"> About </a>
            <a id="offerTab" class="navA" href="../views/coupons.html"> Offers </a>
            </nav>
        
    </header>
    <div class="main">
        
        <h2 id="pageTitle" class="center">Cupcakes</h2>
        <div id="description">
            <p id="paragraph_description">
                🎉 Indulge in Blissful Bites! Welcome to our Cupcake Wonderland! 🧁
                <br>
                <br>
                At Say It With Sweets, we believe in crafting more than just cupcakes; we bake little pieces of happiness! Dive into a world where each bite is a delightful journey of flavor and joy.
                <br>
                <br>
                Handcrafted with love and attention to detail, our cupcakes are a testament to artisanal excellence. We use only the finest ingredients, ensuring each treat is a masterpiece of taste and texture.
            </p>
            <div id="slides">
                <div class="mySlides">
                    <img class="slideImages" src="../static/cupcake files/celebration_ck/creeper_ck.png" alt="creeper cupcake">
                </div>
                <div class="mySlides">
                    <img class="slideImages" src="../static/cupcake files/bouquets_ck/purple_bouquet_ck.jpg" alt="purple cupcake bouquet">
                </div>
                <div class="mySlides">
                    <img class="slideImages" src="../static/cupcake files/cake_ck/dog_ck.jpg" alt="dog cupcake cake">
                </div>
                <p> Here are our cupcake best sellers!</p>
              </div>

              <div class="socials">
                <table>
                    <tr><th colspan="2" id="find_us">Socials</th></tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/insta_logo.jpeg" alt="instagram logo" onclick="OpenInNewTabWinBrowser('https://www.instagram.com/sayitwithsweets11?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==')" target="_blank"></td>
                        <td><a href="https://www.instagram.com/sayitwithsweets11?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">@sayitwithsweets11</a></td></tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/facebook_logo.jpeg" alt="facebook logo" onclick="OpenInNewTabWinBrowser('https://www.facebook.com/say.it.with.sweets/')"></td>
                        <td><a href="https://www.facebook.com/say.it.with.sweets/" target="_blank">@say It With Sweets</a></td>
                    </tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/yelp_logo.png" alt="yelp logo" onclick="OpenInNewTabWinBrowser('https://www.yelp.com/biz/say-it-with-sweets-altoona?utm_campaign=www_business_share_popup&utm_medium=copy_link&utm_source=(direct)')"></td>
                        <td><a href="https://www.yelp.com/biz/say-it-with-sweets-altoona?utm_campaign=www_business_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank">@say It With Sweets</a></td>
                    </tr>
                    <tr><td class="imgCol"><img class="socialsLogo" src="../static/additional/tripadvisor_logo.png" alt="tripadvisor logo" onclick="OpenInNewTabWinBrowser('https://www.tripadvisor.com/Restaurant_Review-g30034-d5017286-Reviews-Say_IT_With_Sweets-Altoona_Pennsylvania.html')"></td>
                        <td><a href="https://www.tripadvisor.com/Restaurant_Review-g30034-d5017286-Reviews-Say_IT_With_Sweets-Altoona_Pennsylvania.html" target="_blank">@say It With Sweets</a></td>
                    </tr>
                </table> 
            </div>
        </div>

        <div id="tab_section">
        <ul id="tabs">

            <li class="tab_nav"><a href="#celebration">Celebration</a></li>
            <li class="tab_nav"><a href="#cakes">Cakes</a></li>
            <li class="tab_nav"><a href="#bouquets">Bouquets</a></li>
            <li class="tab_nav"><a href="#holiday">Holiday</a></li>
      
        </ul>

            <div class="container" id="celebration">
                <p class="tab_description">
                    Standard Cupcakes are $2.00 each (includes sprinkles if desired).
                    Decorations are extra depending on details. Please order 1 to 2 days in advance.
                </p>
                <div class="tabPics">
                    <h3 class="tabText">Minion Cupcake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cupcake files/celebration_ck/minion_cupcake.png" alt="minion cupcake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Blue/White Cupcake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cupcake files/celebration_ck/blue_white_ck.jpg" alt="blue/white cupcake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Creeper Cupcake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cupcake files/celebration_ck/creeper_ck.png" alt="creeper cupcake">
                </div>
            </div>

            <div class="container" id="cakes">
                <p class="tab_description">
                    Our cupcake cakes are priced according to the number of cupcakes needed for the design. 
                    *Please order 4 to 7 days in advance.
                </p>
                <div class="tabPics">
                    <h3 class="tabText">Dog Cupcake Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cupcake files/cake_ck/dog_ck.jpg" alt="dog cupcake cake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Dress Cupcake Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cupcake files/cake_ck/dress_ck.jpg" alt="dress cupcake cake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Horse Cupcake Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cupcake files/cake_ck/horse_ck.jpg" alt="horse cupcake cake">
                </div>
            </div>

            <div class="container" id="bouquets">
                <p class="tab_description">
                    Cupcake bouquets are a truly unique gift for any occasion. 
                    Each box is filled with 9 beautifully decorated flower cupcakes and topped with a decorative bow.
                    *Please order at least 4 days in advance. Call for price details
                </p>
                <div class="tabPics">
                    <h3 class="tabText">Red Cupcake Bouquet</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cupcake files/bouquets_ck/red_bouquet_ck.jpg" alt="red cupcake bouquet">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Purple Cupcake Bouquet</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cupcake files/bouquets_ck/purple_bouquet_ck.jpg" alt="purple cupcake bouquet">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Green Cupcake Bouquet</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cupcake files/bouquets_ck/green_bouquet_ck.jpg" alt="green cupcake bouquet">
                </div>
            </div>
                
            <div class="container" id="holiday">
                <div class="tabPics">
                    <h3 class="tabText">Valentines Cupcake Bouquet</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cupcake files/holiday_ck/valentines_bouquet_ck.jpg" alt="valentines cupcake bouquet">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Christmas Cupcake Cake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cupcake files/holiday_ck/christmas_cake_ck.jpg" alt="christmas cupcake cake">
                </div>
                <div class="tabPics">
                    <h3 class="tabText">Halloween Cupcake</h3>
                    <h3 class="tab_price">price: $$$</h3>
                    <img src="../static/cupcake files/holiday_ck/halloween_ck.jpg" alt="halloween cupcake">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <p id="foot">Say It With Sweets &copy; 2024 </p>
    <a id="emailFooter" href="mailto:info@sayitwithsweets.com" target="_blank">info@sayitwithsweets.com</a>
</footer>
</html>